<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form id="loginForm">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br><br>
    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" required><br><br>
    <button type="submit">Entrar</button><br>
    <a href="/index.html">Voltar</a><br>

  </form>

  <script>
    const loginForm = document.getElementById('loginForm');
    loginForm.addEventListener('submit', (event) => {
      event.preventDefault(); // Impede o envio padrão do formulário

      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;

      fetch('/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ email, password })
      })
        .then(response => response.json())
        .then(data => {
          if (data.token) {
            localStorage.setItem('token', data.token);
            window.location.href = '/tasks.html'; // Redireciona para a página de tarefas
          } else {
            alert('Login inválido');
          }
        })
        .catch(error => console.error('Erro no login:', error));
    });
  </script>
</body>

</html>